 /* @import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-notifications/styles/material.css';
@import "../node_modules/@syncfusion/ej2-react-grids/styles/material.css";  */
@import "../../node_modules/@syncfusion/ej2/material.css";

*,
*::before,
*::after {
  box-sizing: border-box;

}

* {
  margin: 0;
  padding: 0;
}






html,
body {
  max-width: 100vw;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #575353;
  font-weight: 300;

}

input {
  font-family: 'Roboto', sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
}


h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}


p,
input,
span {
  color: #373737;
}
/* Custom ScrollBar */

form {
  width: 100%;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #efefef9a;
}

::-webkit-scrollbar-thumb {
  background: #cdcdcda7;
  border-radius: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb10 {
  margin-bottom: 10px;
}



.e-grid {
  border: none;
}

/* .e-grid .e-gridpager {
  background-color: red;
  
} */

/* .e-grid .e-gridpager .e-prevpagedisabled,
.e-grid .e-gridpager .e-prevpage,
.e-grid .e-gridpager .e-nextpage,
.e-grid .e-gridpager .e-nextpagedisabled,
.e-grid .e-gridpager .e-lastpagedisabled,
.e-grid .e-gridpager .e-lastpage,
.e-grid .e-gridpager .e-firstpage,
.e-grid .e-gridpager .e-firstpagedisabled {
    background-color: #deecf9;
} */

/* .e-grid .e-gridpager .e-numericitem {
} */
.e-grid .e-gridpager .e-currentitem {
  background-color: #0078d7;
  color: white;
}

.e-active {
  background-color: #0078d7;
}
.e-pager .e-currentitem, .e-pager .e-currentitem:hover {
  background-color: #0078d7;
  background: #0078d7 !important;
}

/* .e-grid .e-gridpager {
  border-radius: 30px;
} */
