
@import "primereact/resources/themes/lara-light-indigo/theme.css";     
@import "primereact/resources/primereact.min.css"; 
@import 'primeicons/primeicons.css';


*,
*::before,
*::after {
  box-sizing: border-box;

}

* {
  margin: 0;
  padding: 0;
}


.product-datatable.p-datatable .p-datatable-tbody > tr > td {
  padding: 8px 10px;
}


.p-component {
  font-size: 0.85rem;
}
.p-fileupload .p-fileupload-content {
  padding: 10px;
}

.p-fileupload .p-fileupload-row > div {
  padding: 5px 0;
}



html,
body {
  max-width: 100vw;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-size: 15px;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  /* color: #575353; */
  font-weight: 300;
  overflow: hidden;
  background-color: #f0f0f0;
  /* font-family: var(--font-family); */
}

input {
  font-family: 'Roboto', sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}



h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}



/* Custom ScrollBar */

form {
  width: 100%;
}


::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #efefef9a;
}

::-webkit-scrollbar-thumb {
  background: #cdcdcda7;
  border-radius: 8px;
}


.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-in.active {
  opacity: 1;
}



