.prod_availability_container {
    display: flex;
    align-items: center;
}

.prod_availability_row {
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.prod_availability_block {
    display: block;
}



.prod_availability_update-row {
    font-size: 11px;
    margin-top: 2px;
}
.prod_availability_content {
   margin-right: 15px;
}

.prod_availability_available {
    margin-left: 4px;
    font-weight: bold;
 
}

.prod_availability_circle  {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 4px;
    margin-top: 3px;
}

.prod_availability_circle-div {
  
    background-color: #44f40b;

}
.prod_availability_circle-ordered{

    background-color: #e4941b;
  
}
.prod_availability_circle-reserved{

    background-color: #1ecbe1;
  
}


.prod_availability_circle-notavailable {
    background-color: #f40b0b;
}

.prod_availability_date {
    margin-left: 2px;
    font-style: italic;
    color: grey;
}


/* GRID */
.column_med {
    width: 160px!important;
    max-width: 190px;
    text-wrap: wrap;

}


.p-inputtext.column_input_med {
    width: 120px;
}


.p-dropdown.column_dropdown_med {
    max-width: 200px;
    width: 100%;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header_container.p-datatable.p-datatable-gridlines .p-datatable-header {
    padding: 0.5rem 0.7rem;
}

.header_left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.expansion_form {
    max-width: 600px;
    column-gap: 10px;
}

.expansion_row {
    display: flex;
    column-gap: 10px;


}

@media screen and (max-width: 1040px) {
    .expansion_row {
        flex-direction: column;
    }
}

.disabled-card{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 18px;

}

.disabled-card label {
    margin-bottom: 5px;
}


.expansion_input {
    max-width: 300px;
}



/*BTN TO UPLOAD SUPPLIER CATALOGUE*/
.upload_btn {
    display: inline-block;
}

.upload_btn .hide {
    display: none;
}