.none {
  display: none;
}

.container {
  box-shadow: 4px 0px 3px -5px rgba(171, 171, 171, 0);
}

.fullNavbar {
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}