.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 240px;
    /* background-color: #37404C; */
    background-color: white;
    border-right: 2px solid #EEF2F6;
  
}

.top {
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-bottom: 2px solid #EEF2F6;;
}

.burgerClose {
    cursor: pointer;
    display: none;
    color: white;
}

.main {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: white;
    user-select: none;
}

.main ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  
}

.menuItem {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #EEF2F6;
    border-radius: 8px;
    margin-bottom: 5px;
    min-height: 48px;
    padding: 0px 15px 0 10px;
    cursor: pointer;
    line-height: 1.4;
}
.menuItem1 {
    border-left: 3px solid rgb(196, 196, 196);
}
.menuItem2 {
    border-left: 3px solid rgb(224, 224, 224);
}


@media (max-width: 1024px) {
    .top {
        display: flex;
        justify-content: space-between;
    }

    .burgerClose {
        display: block;
    }
    
}